.home-container {
  display: flex;
  flex-direction: row;
}

.content-container {
  display: flex;
  flex-direction: column;
  margin-right: 20px; 
}

.btn-group-vertical {
  display: flex;
  flex-direction: column;
}

.btn-light-gray-2 {
  background-color: #f0f0f0;
  color: #333;
  border-color: #f8f9fa;
  padding: 5px 20px; 
  font-size: 14px; 
  height: 30px; 
  line-height: 30px; 
  margin-bottom: 5px;
  border-radius: 0; 
}

.todo-section,
.coming-up-section {
  margin-top: 20px; 
}
